<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div><%= f.label :name %><br />
  <%= f.text_field :name,  :autofocus => true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %></div>
  <% if can? :create, User.new %>
    <div><%= f.label :role %><br />
      <%= f.collection_select :role, User::ROLES, :to_s, :humanize %></div>
  <% end %>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
