.games.not_finished
  .section
    %h3= "Not finished games for #{current_user.try(:name)}"
    %hr.section_caption
  - @games_new.each do |game|
    .details
      .item
        .quizz
          Game
          %strong=" # #{game.id}"
          = " #{game.try(:quizz).try(:description)}  ( #{game.state} )"
        .actions
          = link_to 'Start', {:controller => "games", :action => "new", :quizz_id => game.quizz_id }
  .footer{:style=>"margin-left: 40%; margin-right: 30%;"}
    = paginate @quizzes

  .section
    %hr