-game.quizz.questions.each do |q|
  %ul
    %h5= q.title
    -q.answers.each do |a|
      %li
        -if answers.include?(a.id)
          -if a.is_correct?
            %p.correct_answer= a.content
          -else
            %p.user_answer= a.content
        - else
          -if a.is_correct?
            %p.correct_answer= a.content
          -else
            %p= a.content