/- @games_new.each do |game|
- if game.passed?
  = render :partial => 'passed', :locals => {:game => game}
- else
  .details
    .item
      .quizz
        Game
        %strong=" # #{game.id}"
        = " #{game.try(:quizz).try(:description)}  ( #{game.state} )"
        %p
        %strong=game.try(:user).try(:name)
      .actions
        = link_to 'Start', {:controller => "games", :action => "new", :quizz_id => game.quizz_id }