%hr
.caption
  %h4= I18n.translate('game.statistics', :game_id => @game.id)
.bug_image
  = image_tag "lady_bug.png", :alt => "Lady Bug", :class => "remove_answer"
.statistics
  - if @game.try(:quizz)
    %p= I18n.translate('game.other_players', :count => @game.try(:played_game))
  %p= I18n.translate('game.max_score', :score => @game.total_score)
  %p= I18n.translate('game.user.result', :score => @user_result)

  - if @other_users
    %p= I18n.translate('game.other_users', :count => @other_users)
  - if @scores
    %ul
      = I18n.translate('game.other_score', :score => @scores.length)
      - @scores.each do |score|
        %li
          = "#{score} %"
  Miiii
  = @total_quizz_points
