%hr
%h4
  = "Game # #{@game.id } statistics"
.statistics
  %p= "People who played this game: #{@game.played_game}"
  %p= "Maximum game score is #{@game.total_score}"
  %p= "User result is : #{@user_result} %"
  %ul
    = "Other #{@scores.length} results: "
    -@scores.each do |score|
      %li
        = "#{score} %"