- if game.passed?
  = render :partial => 'passed', :locals => {:game => game}
- else
  .details
    .item
      .quizz
        = I18n.translate('game.title')
        %strong=" # #{game.id}"
        = " #{game.quizz_description}  ( #{game.state} )  ||  "
        %strong=game.user_name
      .actions
        = link_to(I18n.t('general.actions.start'), games_path(:quizz_id => game.quizz), :method => :post)
