-#%link{:href => "/assets/stylesheets/bootstrap.css", :rel => "stylesheet"}
%h1 Listing games

%table
  %tr
    %th Game
    %th
    %th Status
    %th
  - @games.each do |game|
    %tr
      %td{:colspan => 4}
        Player
        %strong=game.user.name
        wants to play game:
        %strong=game.quizz.description
    %tr
      %td.col= link_to '|Start|', start_game_path(game)
      %td.col= link_to '|Show|', game
      %td.col= link_to '|Edit|', edit_game_path(game)
      %td.col= link_to '|Destroy|', game, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= link_to 'New Game', new_game_path