- content_for :page_styles do
  = stylesheet_link_tag "games"
- points = @game.points.nil? ? 0 : @game.points
- if @game.errors.any?
  #error_explanation
    %div{:class=> "alert alert-error"}
      - @game.errors.full_messages.each do |msg|
        = msg
.game
  - if @answers
    %h4= I18n.translate('game.reviewing', :game_id => @game.id)
    .details
      %p= I18n.translate('game.user.played', :user => @game.user.name, :game => @game.try(:quizz).try(:description))
  - else
    %h4= I18n.translate('game.showing', :game_id => @game.id)
    .details
      %p= I18n.translate('game.user.want_play', :user => @game.user.name, :game => @game.try(:quizz).try(:description))
  .details
    %p= I18n.translate('game.user.score', :points => points, :total => @game.total_score)

  %br
  - if points == 0
    = link_to I18n.translate('game.start'), start_game_path(@game)
    \|
  - else
    -if @game.finished?
      = render :partial => "game_statisctics", :locals => { :game => @game }
= link_to I18n.translate('game.back'), games_path

