%h3 Start a quizz
%form{ :action => "finish", :method => "post"}
  %fieldset
    %ul
      %p.temp= @quizz.id
      %h5= @quizz.description
      - @quizz.questions.each do |q|
        %li
          %h6= q.title
          %p.temp=q.id
          - q.answers.each do |a|
            -#%input{:name => "option", :type => "radio", :value => "answer"}
            %input{:type => "radio", :name => "answers[#{q.id}]", :id =>"ids", :value => a.id}
            = a.content
            %p.temp=a.id
    %input{:type => "submit", :value => "Finish", :class => "button"}