:javascript
  jQuery(function() {
    $("input").click(function(){

      var w =$('#myprogress').css("width") ;
      x = w.indexOf('p');
      width = parseInt(w.substring(0, x));
      //alert(width);
      //alert($(this).attr("value"));
      alert(parseInt(10)+ parseInt($(this).attr("value")));
       $('#myprogress').css('width', width + parseInt($(this).attr("value")) +"px");
      //var currRbtn = this;
      //var
      //  element = document.getElementById('myprogress');
      //  style = window.getComputedStyle(element);
      //  w = style.getPropertyValue('width');
      //
      //  q = $(this).attr("name");
      //  x = q.indexOf(']');
      //  q_id = q.substring(8, x);
      //var $rbtns = $("input." + q_id);
      //$rbtns.each(function(){
      //  if($(this).attr("checked")=="false"){
      //    //alert(($(this).attr("checked")=="false"));
      //    $('#myprogress').css('width', w + 10 + "px");
      //  }
      //});
    });

  });

%h3 Start a quizz
%div{:class => "progress progress-warning progress-striped active"}
  %div{:id => "myprogress", :class => "bar", :style =>"width:0"}

%form{ :action => "finish", :method => "post"}
  %fieldset
    %ul
      %p.temp= @quizz.id
      %h5= @quizz.description
      - @quizz.questions.each do |q|
        %li{:data => {:checked => 0 }}
          %h6= q.title
          %p.temp=q.id
          - q.answers.each do |a|
            %input{:type => "radio", :name => "answers[#{q.id}]", :class =>"#{q.id}", :value => a.id}
            = a.content
            %p.temp=a.id
    %input{:type => "submit", :value => "Finish", :class => "button"}