- content_for :page_styles do
  = stylesheet_link_tag "games"
- @user_score = current_user.total_score
- @max_score = current_user.maximum_score
%h1.gorgeous
  = I18n.translate('title')
-if current_user
  .statistic_info
    .caption
      %h4= I18n.translate('user.statistic')
    .bug_image
      = image_tag "lady_bug.png", :alt => "Lady Bug", :class => "remove_answer"
    .details
      = I18n.translate('user.statistic_detail', :score => @user_score, :game_passed => @count_passed_games, :games => @count_games)
    %h4= I18n.translate('user.max_score', :max_score => @max_score)
    -if best_user_score
      = image_tag "nut.png", :class=> "nut_image"
    -if current_user.has_access_to_view?
      %h4= I18n.translate('total_statistic')
      .details
        %span= I18n.translate('games.draft', :count => hamster_draft_games)
        %span= I18n.translate('games.started', :count => hamster_started_games)
        %span= I18n.translate('games.finished', :count => hamster_finished_games)

  -if current_user.has_access_to_view?
    .friendship
      %h4= I18n.translate('friends.see_friendship')
      .details
        - unless current_user.inverse_friends.empty?
          -current_user.inverse_friends.each do |f|
            = f.name
        - else
          %h4= I18n.translate('friends.no_friends')
          = link_to I18n.translate('friends.find'), root_path
      %h4= I18n.translate('user.other')
      - @users.each do|user|
        .details
          = user.name
          = user.email
          = link_to I18n.translate('friends.add'), friendships_path(:friend_id => user.id), :method => :post 
