-content_for :page_styles do
  -stylesheet_link_tag "games"

%h1.gorgeous Welcome Page
-if current_user
  .statistic_info
    .caption
      %h4 User statistic:
    .bug_image
      = image_tag "lady_bug.png", :alt=> "Lady Bug", :class=>"remove_answer"
    .details
      ="#{@user_score} points in #{@count_passed_games} games (of #{@count_games} assigned)"

    %h4= "Maximum score of passed games: #{@max_score}"
    -if @user_score !=0 && @user_score == @max_score
      = image_tag "nut.png", :class=> "nut_image"
    -if current_user.has_access_to_view?
      %h4 Total Hamster statistic:
      .details
        %span= "Draft: "
        = hamster_draft_games
        |
        %span= "Started: "
        = hamster_started_games
        |
        %span= "Finished: "
        = hamster_finished_games
  -if current_user.has_access_to_view?
    .friendship
      %h4 User Friendship:
      .details
        -unless current_user.inverse_friends.empty?
          -current_user.inverse_friends.each do |f|
            = f.name
        -else
          %h4 No Friends. Plase Find them.
          = link_to "Find Friends", root_path
      %h4 Other users:
      -@users.each do|user|
        .details
          = user.name
          = user.email
          = link_to "Add as a Friend", friendships_path(:friend_id => user.id), :method => :post 
