%p
  = a.object.id
  = a.label "Answer:"
  -#= a.radio_button :content, 0
  = check_box_tag "correct_ids[#{a.object.id}]", a.object.id, a.object.is_correct? #, {:id => "correct_ids_#{a.object.id}"}
  = a.text_field :content
  = a.link_to_remove "Remove Answer"
