.answers
    %span.caption Answers
    = image_tag "add.png", :alt => "Add Answer", :class => "add_answer"
    .line.first
        = a.text_field :content, :class => "ans_content"
        = image_tag "cancel.png", :alt=> "Delete Answer", :class=>"remove_answer"
    .line
        = a.text_field :content, :class => "ans_content"
        = image_tag "cancel.png", :alt=> "Delete Answer", :class=>"remove_answer"