-content_for :page_styles do
    -stylesheet_link_tag "quizzs"

-@quizz= Quizz.new if @quizz.nil?

= nested_form_for @quizz do |f|
    .quizz
        %span.caption Quizz Title
        = f.text_field :description
        .question-section
            .section
                = image_tag "expand.png", :alt => "Expand Btn", :id => "expand"
                = image_tag "collapse.png", :alt => "Collapse Btn", :id => "collapse"
                = image_tag "add.png", :alt => "Add Answer", :id => "add_qst"
                %strong.caption
                    = "Question Section"
                %hr
                = f.fields_for :questions do |q|
                    = render "quizzs/questions_fields", :q => q

    = f.submit "Submit Quizz", :id=> "submit", :disabled=> true