= form_for @quizz do |f|
  - if @quizz.errors.any?
    #error_explanation
      %h2= "#{pluralize(@quizz.errors.count, "error")} prohibited this quizz from being saved:"
      %ul
        - @quizz.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = nested_form_for(@quizz) do |f|
      %p
        = f.label "Quizz Title"
        %br
        = f.text_field :description
      %p
        = f.fields_for :questions do |q|
          = render 'questions_fields', :f => q
      -#= link_to_add_fields "Add a question", f, :questions
      -# %p
    = f.submit 'Save'
