/ %p.temp= q.object.id
= q.label "Question:"
= q.text_field :title
= q.fields_for :answers do |a|
  = render 'quizzs/answers_fields', :a => a
= q.link_to_add image_tag('add_answ_icon.png'), :answers , {:class => "add_el_icon", :id => "add_answer"}
= q.link_to_remove image_tag('delete_qstn.png'), {:class=> "remove_el_icon", :id => "rem_qstn"}
