/ %p.temp= q.object.id
= q.label "Question:"
= q.text_field :title
= q.fields_for :answers do |a|
  = render 'quizzs/answers_fields', :a => a
= q.link_to_add image_tag('add_icon.png'), :answers , {:class=> "add_el_icon"}
/ = q.link_to_remove image_tag('delete_icon.png'), {:class=> "remove_el_icon"}
