-content_for :page_title do
  = page_title I18n.translate('quizzs.edit')
-content_for :page_styles do
  = stylesheet_link_tag "quizzs"

:javascript
  var action = "#{params[:action]}";

= simple_form_for @quizz, :url => quizz_path, :html => { :class => 'form-horizontal', :novalidate => '' } do |f|
  .modal-body.resizable-content
    %label.col-sm-3.control-label{for: 'description'}= 'Quizz Title'
    .form-group
      .col-sm-8
        = f.text_field :description, :size => '50', :maxlength => '100'
    - if @quizz.questions.any?
      - @quizz.questions.each_with_index do |q, index|
        .bs-callout.bs-callout-danger-purple.bs-callout-sm-inner{:id => "question-#{q.id}"}
          %label.col-sm-3.control-label
          .form-group
            .col-sm-8
              = text_field_tag :title, q.title, :name => "quizz[questions][#{q.id}][title]", :size => '50', :maxlength => '100'
          .answers.margin-sm-top
            - q.answers.each_with_index do |a, index|
              .radio{:id => "answer-#{a.id}"}
                %label.col-sm-3.control-label
                .form-group
                  .col-sm-4
                    = check_box_tag "quizz[questions][#{q.id}][answers_attributes][#{a.id}][correct]", true, a.correct?
                    = text_field_tag :content, a.content, :name => "quizz[questions][#{q.id}][answers_attributes][#{a.id}][content]", :size => '50', :maxlength => '100'
  = f.submit I18n.t('general.actions.update'), :id => 'new_quizz', :class => 'button btn'
