/ -content_for :page_title do
/ 	-page_title "Editing quizz "+ @quizz.description, :action

/ -unless @quizz.completed?
/ 	= render 'form'

-content_for :page_title do
    -page_title "New quizz"
-content_for :page_styles do
    -stylesheet_link_tag "quizzs"

= form_tag quizz_path(@quizz), :method => :put do
    .quizz
        %span.caption Quizz Title
        = text_field_tag "quizz[description]", "descr"
        .question-section
            .section
                = image_tag "expand.png", :alt => "Expand Btn", :id => "expand"
                = image_tag "collapse.png", :alt => "Collapse Btn", :id => "collapse"
                / = image_tag "add.png", :alt => "Add Answer", :id => "add_qst"
                %strong.caption
                    = "Question Section"
                %hr
            - @questions.each do |question|
                .question
                    %span.caption Question
                    = text_field_tag "questions[][title]", "#{question.title}"
                    .answers
                        %span.caption Answers
                        - question.answers.each do |answer|
                            /= image_tag "add.png", :alt => "Add Answer", :class => "add_answer"
                            .line.first
                                = text_field_tag "questions[][answers][]", "#{answer.content}"
                                /= image_tag "cancel.png", :alt=> "Delete Answer", :class=>"remove_answer"
    = submit_tag "Submit Quizz", :id=> "submit", :disabled=> true