-content_for :page_title do
  -page_title "Listing quizzs"
%table
  %tr
    %th Quizz ID
    %th Quizz Descr
    %th
  - @quizzs.each do |quizz|
    %tr
      %td= quizz.description
      %td.temp= quizz.status
      %td
    %tr.bottom
      %td.col= link_to '|Show|', quizz
      -if can? :update, quizz
        %td.col= link_to '|Edit|', edit_quizz_path(quizz) unless quizz.completed?
      -if current_user.admin
        %td.col= link_to '|Destroy|', quizz, :method => :delete, :data => { :confirm => 'Are you sure?' }
      -else
        %td.col
%br
-if can? :create, Quizz.new
  = link_to 'New Quizz', new_quizz_path
