-content_for :page_styles do
  -stylesheet_link_tag "quizzs"

.quizzes
  .section
    .caption
      %h3 Listing quizzs
    .bug_image
      = image_tag "lady_bug.png", :alt=> "Lady Bug", :class=>"remove_answer"
    %hr.section_caption
  - @quizzes.each do |quizz|
    .details
      .item
        .quizz
          = "# #{quizz.id}  Quizz"
          %strong= "#{quizz.try(:description)}"
          %span.temp= current_user.admin ? quizz.status : ""
        .actions
          = link_to '|Edit|', edit_quizz_path(quizz) unless quizz.completed?
          = link_to 'Complete', complete_quizz_path(quizz) unless quizz.completed?
          - if current_user.admin
            = link_to '|Destroy|', quizz, :method => :delete, :data => { :confirm => 'Are you sure?' }
            = "(#{quizz.updated_at.to_date})"

  .section
    %hr

-if can? :create, Quizz.new
  = link_to 'New Quizz', new_quizz_path
