%h1 Listing quizzs


- @quizzs.each do |quizz|
  %ul
    = quizz.id
    = quizz.description
    %table{:border => "1"}
      %tbody
        %tr
          %td{'width' => 45, 'height' => 10}= link_to 'Show', quizz
          %td{'width' => 45, 'height' => 10}= link_to 'Edit', edit_quizz_path(quizz)
          %td{'width' => 45, 'height' => 10}= link_to 'Destroy', quizz, :method => :delete, :data => { :confirm => 'Are you sure?' }
    - quizz.questions.each do |q|
      %li
        = q.title
        - q.answers.each do |a|
          %ul
            = a.content
  -#%ul
  -#  %li= link_to 'Show', quizz
  -#  %li= link_to 'Edit', edit_quizz_path(quizz)
  -#  %li= link_to 'Destroy', quizz, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br
= link_to 'New Quizz', new_quizz_path
