-content_for :page_title do
    -page_title "New quizz"
-content_for :page_styles do
    -stylesheet_link_tag "games"

.errors{:style=>": height:20px; color: red; margin: 15px 0 25px; display: none;"}

/ = render 'form'

= form_tag :controller => 'quizzs', :action => "create", :method => :put, :data => {remote: true} do
    .quizz
        %span.caption Quizz Title
        = text_field_tag "quizz_title", "quizzzzz111111", :style=> "width:350px;"
        .question-section{:style=>"display:none; margin-left: 20px;"}
            .section
                = image_tag "expand.png", :alt=> "Expand Btn", :id => "expand", :style=>"position:inline-block;"
                = image_tag "collapse.png", :alt=> "Collapse Btn", :id => "collapse", :style=>"position:inline-block;"
                = image_tag "add.png", :alt=> "Add Answer", :id=>"add_qst", :style=>"position:inline-block;"
                %strong{:style=>"vertical-align: top; margin-left: 20px;"}
                    ="Question Section"
                %hr{:style=>"width: 450px; margin-bottom: 10px; margin-top: 0;"}
                .question{:style=>"margin-left: 20px;"}
                    %span.caption Question
                    = text_field_tag "questions[][description]", "quest1", :style=> "width:300px;"
                    .answers{:style=>"display:none; margin-left: 44px;"}
                        %span.caption Answers
                        = image_tag "add.png", :alt=> "Add Answer", :class=>"add_answer", :style=>"position: relative; top: 30px; left: -57px;"
                        .line{ :style=>"margin-left: 112px;" }
                            = text_field_tag "questions[][answers][]", "answ1", :style=>"margin-left: -39px;"
                            = image_tag "cancel.png", :alt=> "Delete Answer", :class=>"remove_answer"
                        .line
                            = text_field_tag "questions[][answers][]", "answ2", :style=>"margin-left: 73px;"
                            = image_tag "cancel.png", :alt=> "Delete Answer", :class=>"remove_answer"

    = submit_tag "Submit Quizz", :id=> "submit", :style=>"margin-top: 10px;", :disabled=> true

= link_to 'Cancel', quizzs_path
