-content_for :page_title do
    -page_title "New quizz"
-content_for :page_styles do
    -stylesheet_link_tag "quizzs"

= form_tag :controller => 'quizzs', :action => "create", :method => :post do
    .quizz
        %span.caption Quizz Title
        = text_field_tag "quizz[description]", ""
        .question-section
            .section
                = image_tag "expand.png", :alt => "Expand Btn", :id => "expand"
                = image_tag "collapse.png", :alt => "Collapse Btn", :id => "collapse"
                = image_tag "add.png", :alt => "Add Answer", :id => "add_qst"
                %strong.caption
                    = "Question Section"
                %hr
            .question
                %span.caption Question
                = text_field_tag "questions[][title]", ""
                .answers
                    %span.caption Answers
                    = image_tag "add.png", :alt => "Add Answer", :class => "add_answer"
                    .line.first
                        = text_field_tag "questions[][answers][]", ""
                        = image_tag "cancel.png", :alt=> "Delete Answer", :class=>"remove_answer"
                    .line
                        = text_field_tag "questions[][answers][]", ""
                        = image_tag "cancel.png", :alt=> "Delete Answer", :class=>"remove_answer"

    = submit_tag "Submit Quizz", :id=> "submit", :disabled=> true

= link_to 'Cancel', quizzs_path
