#notice= notice
%ul
  = @quizz.id
  = @quizz.description
  - @quizz.questions.each do |q|
    %li
      = q.title
      - q.answers.each do |a|
        %ul
          = a.content
%ul
  %li= link_to 'Destroy', @quizz, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'Edit', edit_quizz_path(@quizz)
\|
= link_to 'Back', quizzs_path
