-content_for :page_title do
  -page_title @quizz.description, :action

%ul
  %h5= @quizz.description
  - @quizz.questions.each do |q|
    %li
      %h6= q.title
      - q.answers.each do |a|
        %ul
          - if a.is_correct?
            %p.temp= a.content
          - else
            %p= a.content
-unless @quizz.completed?
  = link_to 'Edit', edit_quizz_path(@quizz)
  \|
  =link_to 'Complete', complete_quizz_path
  \|
= link_to 'Back', quizzs_path
