= form_for @game_detail do |f|
  - if @game_detail.errors.any?
    #error_explanation
      %h2= "#{pluralize(@game_detail.errors.count, "error")} prohibited this game_detail from being saved:"
      %ul
        - @game_detail.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
