%li= link_to(I18n.translate('navigation.user_activity'), statistics_path)
%li= link_to(I18n.translate('navigation.edit_account'), edit_user_registration_path)
%li= link_to(I18n.translate('navigation.quizzes'), quizzs_path)
%li= link_to(I18n.translate('navigation.games'), games_path)
%li= link_to(I18n.translate('navigation.chat'), messages_path)
