.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      = link_to 'Hamster', home_games_path, { :class => "navbar-brand" }
      %button.navbar-toggle{:type => "button", 'data-toggle' => "collapse", 'data-target' => "#navbar-main"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .navbar-collapse.collapse{:id => "navbar-main"}
      %ul.nav.navbar-nav
        - if user_signed_in?
          = render :partial => "layouts/nav_signed_user"
        - else
          %li= link_to(I18n.translate('navigation.login'), new_user_session_path)
          %li.fb_login
            = image_tag("facebook_ico.png")
            = link_to(I18n.translate('navigation.sign_up_fb'), user_omniauth_authorize_path(:facebook))
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "#"}= current_user.email
        %li
          = link_to(I18n.translate('navigation.logout'), destroy_user_session_path, :method => 'delete', :target => "_blank")